<div *ngIf="loading!=loadingExpected">
  <div class="row">
    <div class="col-12">
      LOADING...
      <div class="progress progress-xs mt-2">
        <progressbar class="progress progress-brand-p" [value]="loading" [max]="loadingExpected"
                     type="brand-p"></progressbar>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="loading>=loadingExpected">
  <a class="btn" (click)="pullToRefresh()"><i class="fa fa-balance-scale"></i> &nbsp;Refresh</a>

  <div class="row">
    <div class="col-12 col-sm-3 col-md-2">
      <div class="brand-card" *ngIf="rpgChallengeSummary">
        <div class="brand-card-header bg-gold">
          <i class="fa fa-trophy"></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{rpgChallengeSummary.win}}</div>
            <div class="text-uppercase text-muted small">Wins</div>
          </div>
          <div>
            <div class="text-value">{{rpgChallengeSummary.lose}}</div>
            <div class="text-uppercase text-muted small">Loses</div>
          </div>
          <div>
            <div class="text-value">{{rpgChallengeSummary.draw}}</div>
            <div class="text-uppercase text-muted small">Draws</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-9 col-md-10">
      <form [formGroup]="newChallengeForm" (ngSubmit)="onSubmitForm()">
        <div class="card card-accent-brand-p">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Heading
          </div>
          <div class="card-body">
            <div class="row">
              I challenge&nbsp;
              <input
                id="challenge-friend"
                type="text"
                class="form-control col-3 col-md-2"
                formControlName="friend"
                name="friend"
                [(ngModel)]="selectedChallengeFriends"
                [ngbTypeahead]="searchChallengeFriends"
                (focus)="challengeFriendsFocus$.next($event.target.value)"
                (click)="challengeFriendsClick$.next($event.target.value)"
                #challengeFriendsInstance="ngbTypeahead"
                title="Friends"
                placeholder="Friends"/>
              &nbsp;to complete&nbsp;
              <input
                id="challenge-target"
                type="text"
                class="form-control col-3 col-md-2"
                formControlName="target"
                name="target"
                [(ngModel)]="selectedChallengeTargets"
                [ngbTypeahead]="searchChallengeTargets"
                (focus)="challengeTargetsFocus$.next($event.target.value)"
                (click)="challengeTargetsClick$.next($event.target.value)"
                #challengeTargetsInstance="ngbTypeahead"
                title="Target"
                placeholder="Target"/>
              <input
                id="challenge-criteria"
                type="text"
                class="form-control col-2"
                formControlName="criteria"
                name="criteria"
                [(ngModel)]="selectedChallengeCriteria"
                [ngbTypeahead]="searchChallengeCriteria"
                (focus)="challengeCriteriaFocus$.next($event.target.value)"
                (click)="challengeCriteriaClick$.next($event.target.value)"
                #challengeCriteriaInstance="ngbTypeahead"
                title="Criteria"
                placeholder="Criteria"/>
              &nbsp;in&nbsp;
              <input
                id="challenge-duration"
                type="text"
                class="form-control col-1"
                formControlName="duration"
                name="duration"
                [(ngModel)]="selectedChallengeDurations"
                [ngbTypeahead]="searchChallengeDurations"
                (focus)="challengeDurationsFocus$.next($event.target.value)"
                (click)="challengeDurationsClick$.next($event.target.value)"
                #challengeDurationsInstance="ngbTypeahead"
                title="Duration"
                placeholder="Duration"/>
              &nbsp;days.
            </div>
          </div>
          <div class="card-footer">
            You've challenged {{ selectedChallengeFriends }} to take {{ selectedChallengeTargets }} {{ selectedChallengeCriteria }} in {{ selectedChallengeDurations }} days.
            <button [disabled]="submittingForm" class="btn btn-brand-p px-4 pull-right">
              <span *ngIf="submittingForm" class="spinner-border spinner-border-sm mr-1"></span>
              Submit Challenge
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Running 1:1 Challenges</h3>
      <div class="card card-accent-{{runningChallenge.userDetail.outcomeType}}" *ngFor="let runningChallenge of rpgChallengeRunning">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{runningChallenge.target}}-{{runningChallenge.criteria}} in
          {{runningChallenge.duration}} Days
          <div class="progress progress-xs mt-2">
            <progressbar class="progress progress-brand-p" [value]="runningChallenge.progressDate" [max]="100"
                         type="{{runningChallenge.userDetail.outcomeType}}"></progressbar>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-lg-5">
              <div class="progress">
                <progressbar class="progress progress-{{runningChallenge.userDetail.outcomeType}}" [value]="runningChallenge.userDetail.completion" [max]="100"
                             type="{{runningChallenge.userDetail.outcomeType}}"></progressbar>
              </div>
              <div style="text-align: right;">
                {{runningChallenge.userDetail.sum}} {{runningChallenge.criteria}} so far
              </div>
            </div>
            <div class="col-2 hidden-md-down" style="text-align: center; font-size: 2rem;vertical-align: middle;">
              <i class="fa fa-flag-checkered"></i>
            </div>
            <div class="col-12 col-lg-5">
              <div class="progress">
                <progressbar class="progress progress-{{runningChallenge.opponentDetail.outcomeType}}" style="direction: rtl;"
                             [value]="runningChallenge.opponentDetail.completion" [max]="100"
                             type="{{runningChallenge.opponentDetail.outcomeType}}"></progressbar>
              </div>
              <div>
                {{runningChallenge.opponentDetail.sum}} {{runningChallenge.criteria}} so far
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-5 col-xl-4" style="text-align: center">
              <div class="text-value">
                <img src="{{profileAvatar}}" class="img-avatar" alt="You" width="55px" height="55px"/>
              </div>
              <div class="text-uppercase text-muted small">You</div>
              <div class="text-uppercase text-muted small">{{runningChallenge.userDetail.lastPulled}}</div>
            </div>
            <div class="col-1 hidden-lg-down" style="text-align: center">
              <div class="text-value">{{runningChallenge.target}}</div>
              <div class="text-uppercase text-muted small">{{runningChallenge.criteria}}</div>
            </div>
            <div class="col-2 hidden-lg-down" style="text-align: center">
              <div class="text-value">IN</div>
            </div>
            <div class="col-2 hidden-xl-up" style="text-align: center">
              <div class="text-value">Vs</div>
            </div>
            <div class="col-1 hidden-lg-down" style="text-align: center">
              <div class="text-value">{{runningChallenge.duration}}</div>
              <div class="text-uppercase text-muted small">Days</div>
            </div>
            <div class="col-5 col-xl-4" style="text-align: center">
              <div class="text-value">
                <img src="{{runningChallenge.opponentAvatar}}" class="img-avatar" alt="{{runningChallenge.opponent}}"
                     width="55px" height="55px"/>
              </div>
              <div class="text-uppercase text-muted small">{{runningChallenge.opponent}}</div>
              <div class="text-uppercase text-muted small">{{runningChallenge.opponentDetail.lastPulled}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Finished 1:1 Challenges</h3>
      <div class="card card-accent-{{runningChallenge.userDetail.outcomeType}}" *ngFor="let runningChallenge of rpgChallengeCompleted">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{runningChallenge.target}}-{{runningChallenge.criteria}} in
          {{runningChallenge.duration}} Days
          <div class="progress progress-xs mt-2">
            <progressbar class="progress progress-{{runningChallenge.userDetail.outcomeType}}" [value]="runningChallenge.progressDate" [max]="100"
                         type="{{runningChallenge.userDetail.outcomeType}}"></progressbar>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-lg-5">
              <div class="progress">
                <progressbar class="progress progress-{{runningChallenge.userDetail.outcomeType}}" [value]="runningChallenge.userDetail.completion" [max]="100"
                             type="{{runningChallenge.userDetail.outcomeType}}"></progressbar>
              </div>
              <div style="text-align: right;">
                {{runningChallenge.userDetail.sum}} {{runningChallenge.criteria}} so far
              </div>
            </div>
            <div class="col-2 hidden-md-down" style="text-align: center; font-size: 2rem;vertical-align: middle;">
              <i class="fa fa-flag-checkered"></i>
            </div>
            <div class="col-12 col-lg-5">
              <div class="progress">
                <progressbar class="progress progress-{{runningChallenge.opponentDetail.outcomeType}}" style="direction: rtl;"
                             [value]="runningChallenge.opponentDetail.completion" [max]="100"
                             type="{{runningChallenge.opponentDetail.outcomeType}}"></progressbar>
              </div>
              <div>
                {{runningChallenge.opponentDetail.sum}} {{runningChallenge.criteria}} so far
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-4" style="text-align: center">
              <div class="text-value">
                <img src="{{profileAvatar}}" class="img-avatar" alt="You" width="55px" height="55px"/>
              </div>
              <div class="text-uppercase text-muted small">You</div>
              <div class="text-uppercase text-muted small">{{runningChallenge.userDetail.lastPulled}}</div>
            </div>
            <div class="col-4" style="text-align: center">
              <div class="text-uppercase text-value">{{runningChallenge.outcome}}</div>
            </div>
            <div class="col-4" style="text-align: center">
              <div class="text-value">
                <img src="{{runningChallenge.opponentAvatar}}" class="img-avatar" alt="{{runningChallenge.opponent}}"
                     width="55px" height="55px"/>
              </div>
              <div class="text-uppercase text-muted small">{{runningChallenge.opponent}}</div>
              <div class="text-uppercase text-muted small">{{runningChallenge.opponentDetail.lastPulled}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  <div class="row">
    <div class="col-12 col-lg-6">
      <h1>Inbox</h1>
      <div class="card card-accent-info">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Pending Challenges
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
            <tr>
              <th class="hidden-md-down">&nbsp;</th>
              <th>Opponent</th>
              <th>Criteria</th>
              <th>Target</th>
              <th>Duration</th>
              <th class="hidden-md-down">Received</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let toAccept of rpgChallengeToAccept; let i = index" (click)="acceptChallenge(toAccept.id, i)"
                [class.active]="i == selectedInboxChallenge">
              <td class="hidden-md-down"><img src="{{toAccept.opponentAvatar}}" class="img-avatar"
                                              alt="{{toAccept.opponent}}" width="35px" height="35px"/></td>
              <td>{{ toAccept.opponent }}</td>
              <td>{{ toAccept.criteria }}</td>
              <td>{{ toAccept.target }}</td>
              <td>{{ toAccept.duration }} days</td>
              <td class="hidden-md-down">{{ toAccept.invited }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <h1>Outbox</h1>
      <div class="card card-accent-warning">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Waiting Challenges
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
            <tr>
              <th class="hidden-md-down">&nbsp;</th>
              <th>Opponent</th>
              <th>Criteria</th>
              <th>Target</th>
              <th>Duration</th>
              <th class="hidden-md-down">Sent</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let toAccept of rpgChallengePending; let i = index" (click)="rejectChallenge(toAccept.id, i)"
                [class.active]="i == selectedOutboxChallenge">
              <td class="hidden-md-down"><img src="{{toAccept.opponentAvatar}}" class="img-avatar"
                                              alt="{{toAccept.opponent}}" width="35px" height="35px"/></td>
              <td>{{ toAccept.opponent }}</td>
              <td>{{ toAccept.criteria }}</td>
              <td>{{ toAccept.target }}</td>
              <td>{{ toAccept.duration }} days</td>
              <td class="hidden-md-down">{{ toAccept.invited }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>-->

</div>
