<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-ambulance" style="font-size: 24pt;"></i>
              <div>medicalIcons-ambulance</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-baby-face" style="font-size: 24pt;"></i>
              <div>medicalIcons-baby-face</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-bandage-cross" style="font-size: 24pt;"></i>
              <div>medicalIcons-bandage-cross</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-biohazard" style="font-size: 24pt;"></i>
              <div>medicalIcons-biohazard</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-biology-shape" style="font-size: 24pt;"></i>
              <div>medicalIcons-biology-shape</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-blood-analysis" style="font-size: 24pt;"></i>
              <div>medicalIcons-blood-analysis</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-blood-cell" style="font-size: 24pt;"></i>
              <div>medicalIcons-blood-cell</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-blood-drop" style="font-size: 24pt;"></i>
              <div>medicalIcons-blood-drop</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-blood-pressure-control-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-blood-pressure-control-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-blood-sample" style="font-size: 24pt;"></i>
              <div>medicalIcons-blood-sample</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-blood-transfusion" style="font-size: 24pt;"></i>
              <div>medicalIcons-blood-transfusion</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-brain-in-bald-male-head" style="font-size: 24pt;"></i>
              <div>medicalIcons-brain-in-bald-male-head</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-broken-bone" style="font-size: 24pt;"></i>
              <div>medicalIcons-broken-bone</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-broken-feet-with-bandage" style="font-size: 24pt;"></i>
              <div>medicalIcons-broken-feet-with-bandage</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-brush-with-tooth-paste" style="font-size: 24pt;"></i>
              <div>medicalIcons-brush-with-tooth-paste</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-caduceus-medical-symbol-of-two-ascending-serpents-on-a-cane-with-wings"
                 style="font-size: 24pt;"></i>
              <div>medicalIcons-caduceus-medical-symbol-of-two-ascending-serpents-on-a-cane-with-wings</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-cells-in-a-circle" style="font-size: 24pt;"></i>
              <div>medicalIcons-cells-in-a-circle</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-chemistry-flask-with-liquid" style="font-size: 24pt;"></i>
              <div>medicalIcons-chemistry-flask-with-liquid</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-crutch" style="font-size: 24pt;"></i>
              <div>medicalIcons-crutch</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-crutches-couple" style="font-size: 24pt;"></i>
              <div>medicalIcons-crutches-couple</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-dentist-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-dentist-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-dosage-medical-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-dosage-medical-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-drug-pills" style="font-size: 24pt;"></i>
              <div>medicalIcons-drug-pills</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-drugs-capsules-and-pills" style="font-size: 24pt;"></i>
              <div>medicalIcons-drugs-capsules-and-pills</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-emergency-light" style="font-size: 24pt;"></i>
              <div>medicalIcons-emergency-light</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-eye-scanner-medical-symbol" style="font-size: 24pt;"></i>
              <div>medicalIcons-eye-scanner-medical-symbol</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-family-of-heterosexual-couple" style="font-size: 24pt;"></i>
              <div>medicalIcons-family-of-heterosexual-couple</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-female-sign" style="font-size: 24pt;"></i>
              <div>medicalIcons-female-sign</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-first-aid-kit" style="font-size: 24pt;"></i>
              <div>medicalIcons-first-aid-kit</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-handicap" style="font-size: 24pt;"></i>
              <div>medicalIcons-handicap</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-heart-beats-lifeline-in-a-heart" style="font-size: 24pt;"></i>
              <div>medicalIcons-heart-beats-lifeline-in-a-heart</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-heart-black-shape" style="font-size: 24pt;"></i>
              <div>medicalIcons-heart-black-shape</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-heart-rate-monitor" style="font-size: 24pt;"></i>
              <div>medicalIcons-heart-rate-monitor</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-hospital-bed-silhouette-side-view" style="font-size: 24pt;"></i>
              <div>medicalIcons-hospital-bed-silhouette-side-view</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-hospital-building-front" style="font-size: 24pt;"></i>
              <div>medicalIcons-hospital-building-front</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-hospital-letter-sign-in-rounded-square" style="font-size: 24pt;"></i>
              <div>medicalIcons-hospital-letter-sign-in-rounded-square</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-hospital-medical-signal-of-a-cross-in-a-circle" style="font-size: 24pt;"></i>
              <div>medicalIcons-hospital-medical-signal-of-a-cross-in-a-circle</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-hospital-placeholder" style="font-size: 24pt;"></i>
              <div>medicalIcons-hospital-placeholder</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-human-ear-shape" style="font-size: 24pt;"></i>
              <div>medicalIcons-human-ear-shape</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-human-eye-shape" style="font-size: 24pt;"></i>
              <div>medicalIcons-human-eye-shape</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-human-feet-shape" style="font-size: 24pt;"></i>
              <div>medicalIcons-human-feet-shape</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-hurted-finger-with-bandage" style="font-size: 24pt;"></i>
              <div>medicalIcons-hurted-finger-with-bandage</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-illness-on-bed" style="font-size: 24pt;"></i>
              <div>medicalIcons-illness-on-bed</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-lifeline-of-heartbeats-on-a-paper-on-a-clipboard" style="font-size: 24pt;"></i>
              <div>medicalIcons-lifeline-of-heartbeats-on-a-paper-on-a-clipboard</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-lungs-silhouette" style="font-size: 24pt;"></i>
              <div>medicalIcons-lungs-silhouette</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-male-gender-sign" style="font-size: 24pt;"></i>
              <div>medicalIcons-male-gender-sign</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-chain-symbol-of-dna" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-chain-symbol-of-dna</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-chopper-transport" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-chopper-transport</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-circular-glasses" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-circular-glasses</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-doctor-specialist" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-doctor-specialist</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-hammer-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-hammer-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-heart-scan" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-heart-scan</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-notes-symbol-of-a-list-paper-on-a-clipboard" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-notes-symbol-of-a-list-paper-on-a-clipboard</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-pill" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-pill</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-results-folders" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-results-folders</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-samples-in-test-tubes-couple" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-samples-in-test-tubes-couple</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-talk-symbol-of-rectangular-speech-bubble-with-a-cross-inside"
                 style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-talk-symbol-of-rectangular-speech-bubble-with-a-cross-inside</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medical-temperature-control-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-medical-temperature-control-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medicine-capsules" style="font-size: 24pt;"></i>
              <div>medicalIcons-medicine-capsules</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medicines-bowl" style="font-size: 24pt;"></i>
              <div>medicalIcons-medicines-bowl</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-medicine-small-bottle-with-dropper-included-for-drops-dosage"
                 style="font-size: 24pt;"></i>
              <div>medicalIcons-medicine-small-bottle-with-dropper-included-for-drops-dosage</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-men-silhouette" style="font-size: 24pt;"></i>
              <div>medicalIcons-men-silhouette</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-microscope-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-microscope-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-mother-with-baby-in-arms" style="font-size: 24pt;"></i>
              <div>medicalIcons-mother-with-baby-in-arms</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-mouth-tube-in-bald-male-head" style="font-size: 24pt;"></i>
              <div>medicalIcons-mouth-tube-in-bald-male-head</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-negative-sign-on-medical-clipboard" style="font-size: 24pt;"></i>
              <div>medicalIcons-negative-sign-on-medical-clipboard</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-nurse" style="font-size: 24pt;"></i>
              <div>medicalIcons-nurse</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-nurse-1" style="font-size: 24pt;"></i>
              <div>medicalIcons-nurse-1</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-opened-medical-scissors" style="font-size: 24pt;"></i>
              <div>medicalIcons-opened-medical-scissors</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-oxygen" style="font-size: 24pt;"></i>
              <div>medicalIcons-oxygen</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-person-with-broken-arm" style="font-size: 24pt;"></i>
              <div>medicalIcons-person-with-broken-arm</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-pharmacy-shopping-cart" style="font-size: 24pt;"></i>
              <div>medicalIcons-pharmacy-shopping-cart</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-pharmacy-symbol" style="font-size: 24pt;"></i>
              <div>medicalIcons-pharmacy-symbol</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-pharmacy-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-pharmacy-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-poison-bottle-with-a-skull-symbol" style="font-size: 24pt;"></i>
              <div>medicalIcons-poison-bottle-with-a-skull-symbol</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-positive-verified-symbol-of-a-clipboard" style="font-size: 24pt;"></i>
              <div>medicalIcons-positive-verified-symbol-of-a-clipboard</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-pregnancy" style="font-size: 24pt;"></i>
              <div>medicalIcons-pregnancy</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-pulse-line" style="font-size: 24pt;"></i>
              <div>medicalIcons-pulse-line</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-rolled-paper-for-bathroom" style="font-size: 24pt;"></i>
              <div>medicalIcons-rolled-paper-for-bathroom</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-scale-balanced-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-scale-balanced-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-scale-tool-to-control-body-weight-standing-on-it" style="font-size: 24pt;"></i>
              <div>medicalIcons-scale-tool-to-control-body-weight-standing-on-it</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-scalpel-or-knife-medical-surgery-cutting-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-scalpel-or-knife-medical-surgery-cutting-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-screw" style="font-size: 24pt;"></i>
              <div>medicalIcons-screw</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-sperm" style="font-size: 24pt;"></i>
              <div>medicalIcons-sperm</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-stethoscope-medical-heart-beats-control-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-stethoscope-medical-heart-beats-control-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-stomach-shape" style="font-size: 24pt;"></i>
              <div>medicalIcons-stomach-shape</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-symbolic-cancer-ribbon" style="font-size: 24pt;"></i>
              <div>medicalIcons-symbolic-cancer-ribbon</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-syringe-with-medicine" style="font-size: 24pt;"></i>
              <div>medicalIcons-syringe-with-medicine</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-syrup-medicine-bottle" style="font-size: 24pt;"></i>
              <div>medicalIcons-syrup-medicine-bottle</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-tag-with-a-cross" style="font-size: 24pt;"></i>
              <div>medicalIcons-tag-with-a-cross</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-teeth-silhouette" style="font-size: 24pt;"></i>
              <div>medicalIcons-teeth-silhouette</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-thermometer-medical-fever-temperature-control-tool" style="font-size: 24pt;"></i>
              <div>medicalIcons-thermometer-medical-fever-temperature-control-tool</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-three-hexagons-cell-symbol" style="font-size: 24pt;"></i>
              <div>medicalIcons-three-hexagons-cell-symbol</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-toxic-symbol" style="font-size: 24pt;"></i>
              <div>medicalIcons-toxic-symbol</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-unhealthy-medical-condition" style="font-size: 24pt;"></i>
              <div>medicalIcons-unhealthy-medical-condition</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-united-heterosexual-symbols" style="font-size: 24pt;"></i>
              <div>medicalIcons-united-heterosexual-symbols</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-water-glass" style="font-size: 24pt;"></i>
              <div>medicalIcons-water-glass</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-weight-silhouette-for-medical-sport-practice" style="font-size: 24pt;"></i>
              <div>medicalIcons-weight-silhouette-for-medical-sport-practice</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-women-silhouette" style="font-size: 24pt;"></i>
              <div>medicalIcons-women-silhouette</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="medicalIcons-x-ray-of-bones" style="font-size: 24pt;"></i>
              <div>medicalIcons-x-ray-of-bones</div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>
