<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-action-redo" style="font-size: 24pt;"></i>
              <div>line-icon-action-redo</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-action-undo" style="font-size: 24pt;"></i>
              <div>line-icon-action-undo</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-anchor" style="font-size: 24pt;"></i>
              <div>line-icon-anchor</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-arrow-down" style="font-size: 24pt;"></i>
              <div>line-icon-arrow-down</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-arrow-down-circle" style="font-size: 24pt;"></i>
              <div>line-icon-arrow-down-circle</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-arrow-left" style="font-size: 24pt;"></i>
              <div>line-icon-arrow-left</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-arrow-left-circle" style="font-size: 24pt;"></i>
              <div>line-icon-arrow-left-circle</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-arrow-right" style="font-size: 24pt;"></i>
              <div>line-icon-arrow-right</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-arrow-right-circle" style="font-size: 24pt;"></i>
              <div>line-icon-arrow-right-circle</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-arrow-up" style="font-size: 24pt;"></i>
              <div>line-icon-arrow-up</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-arrow-up-circle" style="font-size: 24pt;"></i>
              <div>line-icon-arrow-up-circle</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-badge" style="font-size: 24pt;"></i>
              <div>line-icon-badge</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-bag" style="font-size: 24pt;"></i>
              <div>line-icon-bag</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-ban" style="font-size: 24pt;"></i>
              <div>line-icon-ban</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-basket" style="font-size: 24pt;"></i>
              <div>line-icon-basket</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-basket-loaded" style="font-size: 24pt;"></i>
              <div>line-icon-basket-loaded</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-bell" style="font-size: 24pt;"></i>
              <div>line-icon-bell</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-book-open" style="font-size: 24pt;"></i>
              <div>line-icon-book-open</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-briefcase" style="font-size: 24pt;"></i>
              <div>line-icon-briefcase</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-bubble" style="font-size: 24pt;"></i>
              <div>line-icon-bubble</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-bubbles" style="font-size: 24pt;"></i>
              <div>line-icon-bubbles</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-bulb" style="font-size: 24pt;"></i>
              <div>line-icon-bulb</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-calculator" style="font-size: 24pt;"></i>
              <div>line-icon-calculator</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-calendar" style="font-size: 24pt;"></i>
              <div>line-icon-calendar</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-call-end" style="font-size: 24pt;"></i>
              <div>line-icon-call-end</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-call-in" style="font-size: 24pt;"></i>
              <div>line-icon-call-in</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-call-out" style="font-size: 24pt;"></i>
              <div>line-icon-call-out</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-camera" style="font-size: 24pt;"></i>
              <div>line-icon-camera</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-camrecorder" style="font-size: 24pt;"></i>
              <div>line-icon-camrecorder</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-chart" style="font-size: 24pt;"></i>
              <div>line-icon-chart</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-check" style="font-size: 24pt;"></i>
              <div>line-icon-check</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-chemistry" style="font-size: 24pt;"></i>
              <div>line-icon-chemistry</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-clock" style="font-size: 24pt;"></i>
              <div>line-icon-clock</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-close" style="font-size: 24pt;"></i>
              <div>line-icon-close</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-cloud-download" style="font-size: 24pt;"></i>
              <div>line-icon-cloud-download</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-cloud-upload" style="font-size: 24pt;"></i>
              <div>line-icon-cloud-upload</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-compass" style="font-size: 24pt;"></i>
              <div>line-icon-compass</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-control-end" style="font-size: 24pt;"></i>
              <div>line-icon-control-end</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-control-forward" style="font-size: 24pt;"></i>
              <div>line-icon-control-forward</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-control-pause" style="font-size: 24pt;"></i>
              <div>line-icon-control-pause</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-control-play" style="font-size: 24pt;"></i>
              <div>line-icon-control-play</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-control-rewind" style="font-size: 24pt;"></i>
              <div>line-icon-control-rewind</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-control-start" style="font-size: 24pt;"></i>
              <div>line-icon-control-start</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-credit-card" style="font-size: 24pt;"></i>
              <div>line-icon-credit-card</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-crop" style="font-size: 24pt;"></i>
              <div>line-icon-crop</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-cup" style="font-size: 24pt;"></i>
              <div>line-icon-cup</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-cursor" style="font-size: 24pt;"></i>
              <div>line-icon-cursor</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-cursor-move" style="font-size: 24pt;"></i>
              <div>line-icon-cursor-move</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-diamond" style="font-size: 24pt;"></i>
              <div>line-icon-diamond</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-direction" style="font-size: 24pt;"></i>
              <div>line-icon-direction</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-directions" style="font-size: 24pt;"></i>
              <div>line-icon-directions</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-disc" style="font-size: 24pt;"></i>
              <div>line-icon-disc</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-dislike" style="font-size: 24pt;"></i>
              <div>line-icon-dislike</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-doc" style="font-size: 24pt;"></i>
              <div>line-icon-doc</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-docs" style="font-size: 24pt;"></i>
              <div>line-icon-docs</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-drawer" style="font-size: 24pt;"></i>
              <div>line-icon-drawer</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-drop" style="font-size: 24pt;"></i>
              <div>line-icon-drop</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-earphones" style="font-size: 24pt;"></i>
              <div>line-icon-earphones</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-earphones-alt" style="font-size: 24pt;"></i>
              <div>line-icon-earphones-alt</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-emotsmile" style="font-size: 24pt;"></i>
              <div>line-icon-emotsmile</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-energy" style="font-size: 24pt;"></i>
              <div>line-icon-energy</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-envelope" style="font-size: 24pt;"></i>
              <div>line-icon-envelope</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-envelope-letter" style="font-size: 24pt;"></i>
              <div>line-icon-envelope-letter</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-envelope-open" style="font-size: 24pt;"></i>
              <div>line-icon-envelope-open</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-equalizer" style="font-size: 24pt;"></i>
              <div>line-icon-equalizer</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-event" style="font-size: 24pt;"></i>
              <div>line-icon-event</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-exclamation" style="font-size: 24pt;"></i>
              <div>line-icon-exclamation</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-eye" style="font-size: 24pt;"></i>
              <div>line-icon-eye</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-eyeglass" style="font-size: 24pt;"></i>
              <div>line-icon-eyeglass</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-feed" style="font-size: 24pt;"></i>
              <div>line-icon-feed</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-film" style="font-size: 24pt;"></i>
              <div>line-icon-film</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-fire" style="font-size: 24pt;"></i>
              <div>line-icon-fire</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-flag" style="font-size: 24pt;"></i>
              <div>line-icon-flag</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-folder" style="font-size: 24pt;"></i>
              <div>line-icon-folder</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-folder-alt" style="font-size: 24pt;"></i>
              <div>line-icon-folder-alt</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-frame" style="font-size: 24pt;"></i>
              <div>line-icon-frame</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-game-controller" style="font-size: 24pt;"></i>
              <div>line-icon-game-controller</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-ghost" style="font-size: 24pt;"></i>
              <div>line-icon-ghost</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-globe" style="font-size: 24pt;"></i>
              <div>line-icon-globe</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-globe-alt" style="font-size: 24pt;"></i>
              <div>line-icon-globe-alt</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-graduation" style="font-size: 24pt;"></i>
              <div>line-icon-graduation</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-graph" style="font-size: 24pt;"></i>
              <div>line-icon-graph</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-grid" style="font-size: 24pt;"></i>
              <div>line-icon-grid</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-handbag" style="font-size: 24pt;"></i>
              <div>line-icon-handbag</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-heart" style="font-size: 24pt;"></i>
              <div>line-icon-heart</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-home" style="font-size: 24pt;"></i>
              <div>line-icon-home</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-hourglass" style="font-size: 24pt;"></i>
              <div>line-icon-hourglass</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-info" style="font-size: 24pt;"></i>
              <div>line-icon-info</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-key" style="font-size: 24pt;"></i>
              <div>line-icon-key</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-layers" style="font-size: 24pt;"></i>
              <div>line-icon-layers</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-like" style="font-size: 24pt;"></i>
              <div>line-icon-like</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-link" style="font-size: 24pt;"></i>
              <div>line-icon-link</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-list" style="font-size: 24pt;"></i>
              <div>line-icon-list</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-location-pin" style="font-size: 24pt;"></i>
              <div>line-icon-location-pin</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-lock" style="font-size: 24pt;"></i>
              <div>line-icon-lock</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-lock-open" style="font-size: 24pt;"></i>
              <div>line-icon-lock-open</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-login" style="font-size: 24pt;"></i>
              <div>line-icon-login</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-logout" style="font-size: 24pt;"></i>
              <div>line-icon-logout</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-loop" style="font-size: 24pt;"></i>
              <div>line-icon-loop</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-magic-wand" style="font-size: 24pt;"></i>
              <div>line-icon-magic-wand</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-magnet" style="font-size: 24pt;"></i>
              <div>line-icon-magnet</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-magnifier" style="font-size: 24pt;"></i>
              <div>line-icon-magnifier</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-magnifier-add" style="font-size: 24pt;"></i>
              <div>line-icon-magnifier-add</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-magnifier-remove" style="font-size: 24pt;"></i>
              <div>line-icon-magnifier-remove</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-map" style="font-size: 24pt;"></i>
              <div>line-icon-map</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-menu" style="font-size: 24pt;"></i>
              <div>line-icon-menu</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-microphone" style="font-size: 24pt;"></i>
              <div>line-icon-microphone</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-minus" style="font-size: 24pt;"></i>
              <div>line-icon-minus</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-mouse" style="font-size: 24pt;"></i>
              <div>line-icon-mouse</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-music-tone" style="font-size: 24pt;"></i>
              <div>line-icon-music-tone</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-music-tone-alt" style="font-size: 24pt;"></i>
              <div>line-icon-music-tone-alt</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-mustache" style="font-size: 24pt;"></i>
              <div>line-icon-mustache</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-note" style="font-size: 24pt;"></i>
              <div>line-icon-note</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-notebook" style="font-size: 24pt;"></i>
              <div>line-icon-notebook</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-options" style="font-size: 24pt;"></i>
              <div>line-icon-options</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-options-vertical" style="font-size: 24pt;"></i>
              <div>line-icon-options-vertical</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-organization" style="font-size: 24pt;"></i>
              <div>line-icon-organization</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-paper-clip" style="font-size: 24pt;"></i>
              <div>line-icon-paper-clip</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-paper-plane" style="font-size: 24pt;"></i>
              <div>line-icon-paper-plane</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-paypal" style="font-size: 24pt;"></i>
              <div>line-icon-paypal</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-pencil" style="font-size: 24pt;"></i>
              <div>line-icon-pencil</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-people" style="font-size: 24pt;"></i>
              <div>line-icon-people</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-phone" style="font-size: 24pt;"></i>
              <div>line-icon-phone</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-picture" style="font-size: 24pt;"></i>
              <div>line-icon-picture</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-pie-chart" style="font-size: 24pt;"></i>
              <div>line-icon-pie-chart</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-pin" style="font-size: 24pt;"></i>
              <div>line-icon-pin</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-plane" style="font-size: 24pt;"></i>
              <div>line-icon-plane</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-playlist" style="font-size: 24pt;"></i>
              <div>line-icon-playlist</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-plus" style="font-size: 24pt;"></i>
              <div>line-icon-plus</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-power" style="font-size: 24pt;"></i>
              <div>line-icon-power</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-present" style="font-size: 24pt;"></i>
              <div>line-icon-present</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-printer" style="font-size: 24pt;"></i>
              <div>line-icon-printer</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-puzzle" style="font-size: 24pt;"></i>
              <div>line-icon-puzzle</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-question" style="font-size: 24pt;"></i>
              <div>line-icon-question</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-refresh" style="font-size: 24pt;"></i>
              <div>line-icon-refresh</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-reload" style="font-size: 24pt;"></i>
              <div>line-icon-reload</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-rocket" style="font-size: 24pt;"></i>
              <div>line-icon-rocket</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-screen-desktop" style="font-size: 24pt;"></i>
              <div>line-icon-screen-desktop</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-screen-smartphone" style="font-size: 24pt;"></i>
              <div>line-icon-screen-smartphone</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-screen-tablet" style="font-size: 24pt;"></i>
              <div>line-icon-screen-tablet</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-settings" style="font-size: 24pt;"></i>
              <div>line-icon-settings</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-share" style="font-size: 24pt;"></i>
              <div>line-icon-share</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-share-alt" style="font-size: 24pt;"></i>
              <div>line-icon-share-alt</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-shield" style="font-size: 24pt;"></i>
              <div>line-icon-shield</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-shuffle" style="font-size: 24pt;"></i>
              <div>line-icon-shuffle</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-size-actual" style="font-size: 24pt;"></i>
              <div>line-icon-size-actual</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-size-fullscreen" style="font-size: 24pt;"></i>
              <div>line-icon-size-fullscreen</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-behance" style="font-size: 24pt;"></i>
              <div>line-icon-social-behance</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-dribbble" style="font-size: 24pt;"></i>
              <div>line-icon-social-dribbble</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-dropbox" style="font-size: 24pt;"></i>
              <div>line-icon-social-dropbox</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-facebook" style="font-size: 24pt;"></i>
              <div>line-icon-social-facebook</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-foursqare" style="font-size: 24pt;"></i>
              <div>line-icon-social-foursqare</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-github" style="font-size: 24pt;"></i>
              <div>line-icon-social-github</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-google" style="font-size: 24pt;"></i>
              <div>line-icon-social-google</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-instagram" style="font-size: 24pt;"></i>
              <div>line-icon-social-instagram</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-linkedin" style="font-size: 24pt;"></i>
              <div>line-icon-social-linkedin</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-pinterest" style="font-size: 24pt;"></i>
              <div>line-icon-social-pinterest</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-reddit" style="font-size: 24pt;"></i>
              <div>line-icon-social-reddit</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-skype" style="font-size: 24pt;"></i>
              <div>line-icon-social-skype</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-soundcloud" style="font-size: 24pt;"></i>
              <div>line-icon-social-soundcloud</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-spotify" style="font-size: 24pt;"></i>
              <div>line-icon-social-spotify</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-steam" style="font-size: 24pt;"></i>
              <div>line-icon-social-steam</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-stumbleupon" style="font-size: 24pt;"></i>
              <div>line-icon-social-stumbleupon</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-tumblr" style="font-size: 24pt;"></i>
              <div>line-icon-social-tumblr</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-twitter" style="font-size: 24pt;"></i>
              <div>line-icon-social-twitter</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-vkontakte" style="font-size: 24pt;"></i>
              <div>line-icon-social-vkontakte</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-social-youtube" style="font-size: 24pt;"></i>
              <div>line-icon-social-youtube</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-speech" style="font-size: 24pt;"></i>
              <div>line-icon-speech</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-speedometer" style="font-size: 24pt;"></i>
              <div>line-icon-speedometer</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-star" style="font-size: 24pt;"></i>
              <div>line-icon-star</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-support" style="font-size: 24pt;"></i>
              <div>line-icon-support</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-symbol-female" style="font-size: 24pt;"></i>
              <div>line-icon-symbol-female</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-symbol-male" style="font-size: 24pt;"></i>
              <div>line-icon-symbol-male</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-tag" style="font-size: 24pt;"></i>
              <div>line-icon-tag</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-target" style="font-size: 24pt;"></i>
              <div>line-icon-target</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-trash" style="font-size: 24pt;"></i>
              <div>line-icon-trash</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-trophy" style="font-size: 24pt;"></i>
              <div>line-icon-trophy</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-umbrella" style="font-size: 24pt;"></i>
              <div>line-icon-umbrella</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-user" style="font-size: 24pt;"></i>
              <div>line-icon-user</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-user-female" style="font-size: 24pt;"></i>
              <div>line-icon-user-female</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-user-follow" style="font-size: 24pt;"></i>
              <div>line-icon-user-follow</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-user-following" style="font-size: 24pt;"></i>
              <div>line-icon-user-following</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-user-unfollow" style="font-size: 24pt;"></i>
              <div>line-icon-user-unfollow</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-vector" style="font-size: 24pt;"></i>
              <div>line-icon-vector</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-volume-1" style="font-size: 24pt;"></i>
              <div>line-icon-volume-1</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-volume-2" style="font-size: 24pt;"></i>
              <div>line-icon-volume-2</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-volume-off" style="font-size: 24pt;"></i>
              <div>line-icon-volume-off</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-wallet" style="font-size: 24pt;"></i>
              <div>line-icon-wallet</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-1" style="text-align: center">
              <i class="line-icon-wrench" style="font-size: 24pt;"></i>
              <div>line-icon-wrench</div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>
