<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'NxFIFTEEN Core Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'NxFIFTEEN Core Logo'}"
  [sidebarToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3"><a class="nav-link" href="" target="_blank">
      &nbsp;
    </a></li>
  </ul>
  <ul class="nav navbar-nav ml-auto" *ngIf="currentUser">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="{{profileAvatar}}" class="img-avatar" alt="{{profileName}}"/>
        <span *ngIf="currentUser.firstrun" class="badge badge-info">NEW</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" routerLink="/achievements/awards"><i class="fa fa-trophy"></i> XP<span
          class="badge badge-info">{{profileXp}}</span></a>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" routerLink="/setup/profile"><i class="fa fa-user"></i> Profile</a>
        <div class="divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [compact]="false" [display]="'lg'" [fixed]="true">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <div class="row" style="margin-left: 0; margin-right: 0">
      <div class="col-6 bg-success text-center">
        <a href="https://nxfifteen.me.uk" target="_blank" title="NxFIFTEEN" style="color: #fff"><strong>N</strong></a>
      </div>
      <div class="col-6 bg-danger text-center">
        <a href="https://www.patreon.com/nxfifteen" target="_blank" title="Support Core" style="color: #fff"><i class="fa fa-dollar"></i></a>
      </div>
    </div>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> &nbsp;Dashboard</a>
          <a [routerLink]="['/rpg/challenges']" class="btn"><i class="fa fa-trophy"></i> &nbsp;Challenges</a>
        </div>
      </li>
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [display]="false" [fixed]="true">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-list"></i></ng-template>
        <div class="list-group list-group-accent">
          <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">NEWS</div>
          <div *ngFor="let siteItem of siteNews"
               class="list-group-item list-group-item-accent-{{siteItem.accent}} list-group-item-divider">
            <div>{{siteItem.title}}</div>
            <small class="text-muted">{{siteItem.text}}</small>
          </div>
        </div>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer>
  <span><a href="https://git.nxfifteen.rocks/nx-health">NxFITNESS Core</a> V:{{ cordovaUpdateAvailable.latestVersion }} &copy; 2019 Stuart McCulloch Anderson.</span>
  <span class="ml-auto d-none d-lg-block d-xl-block">An <a href="https://nxfifteen.me.uk">NxFIFTEEN</a> project, powered by <a
    href="http://coreui.io">CoreUI</a></span>
</app-footer>
