<div *ngIf="loading!=loadingExpected">
  <div class="row">
    <div class="col-12">
      LOADING...
      <div class="progress progress-xs mt-2">
        <progressbar class="progress progress-success" [value]="loading" [max]="loadingExpected"
                     type="success"></progressbar>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div id="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="loading"></div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="loading>=loadingExpected">
  <alert type="md-refresh">
    <div class="row">
      <div class="col-md-6">
        <h3>{{_matomoService.pageTitle}}</h3>
      </div>
      <div class="col-md-6 text-right">
        <button type="button" class="btn btn-brand btn-sm btn-warning mr-1" style="margin-bottom: 4px"
                (click)="pullToRefresh()">
          <i class="fa fa-repeat"></i>
          <span>Refresh</span>
        </button>
      </div>
    </div>
  </alert>

  <div class="row">

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">Weight</h4>
              <div class="small text-muted">Charted Since {{weightWidgetWidgetChartSince}}</div>
            </div><!--/.col-->
          </div><!--/.row-->
          <div class="weightchart chart-wrapper" style="height:600px;margin-top:40px;">
            <canvas baseChart class="chart"
                    [datasets]="weightWidgetWidgetChartData"
                    [labels]="weightWidgetWidgetChartLabels"
                    [options]="weightWidgetWidgetChartOptions"
                    [colors]="weightWidgetWidgetChartColours"
                    [legend]="weightWidgetWidgetChartLegend"
                    [chartType]="weightWidgetWidgetChartType"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
