<div *ngIf="loading!=loadingExpected">
  <div class="row">
    <div class="col-12">
      LOADING...
      <div class="progress progress-xs mt-2">
        <progressbar class="progress progress-success" [value]="loading" [max]="loadingExpected"
                     type="success"></progressbar>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="loading>=loadingExpected">
  <a class="btn" (click)="pullToRefresh()"><i class="fa fa-balance-scale"></i> &nbsp;Refresh</a>

  <div class="row" *ngIf="this.cordovaService$.onCordova">
    <div class="col-3 d-none d-sm-block">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-moon-o bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">d-sm-block</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{widgetsOnFirstRow}}</div>
        </div>
      </div>
    </div>
    <div class="col-3 d-none d-md-block">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-moon-o bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">d-md-block</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{widgetsOnFirstRow}}</div>
        </div>
      </div>
    </div>
    <div class="col-3 d-none d-lg-block">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-moon-o bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">d-lg-block</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{widgetsOnFirstRow}}</div>
        </div>
      </div>
    </div>
    <div class="col-3 d-none d-xl-block">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-moon-o bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">d-xl-block</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{widgetsOnFirstRow}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div [class]="widgetGridOnFirstRow" *ngIf="stepWidgetEnable">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <i class="fa fa-paw"></i>
          </div>
          <div class="text-value">{{stepSummary}}</div>
          <div>Steps Taken</div>
          <div class="row">
            <div class="col-6 col-md-8">
              <div class="progress progress-xs mt-2">
                <progressbar class="progress progress-success" [value]="stepSummaryPercentageBar" [max]="100"
                             type="success"></progressbar>
              </div>
            </div>
            <div class="col-6 col-md-4" style="text-align: right">
              {{stepSummaryPercentage}}%
            </div>
          </div>
          <div *ngIf="stepIntraDayWidgetEnable" class="chart-wrapper mt-3 hidden-sm-down" style="height:65px;">
            <canvas baseChart class="chart"
                    [datasets]="stepIntraDayChartData"
                    [labels]="stepIntraDayChartLabels"
                    [options]="intraDayWidgetChartOptions"
                    [colors]="intraDayWidgetChartColours"
                    [legend]="intraDayWidgetChartLegend"
                    [chartType]="intraDayWidgetChartType"></canvas>
          </div>
        </div>
      </div>
    </div><!-- /stepSummary -->

    <div [class]="widgetGridOnFirstRow" *ngIf="floorWidgetEnable">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <i class="fa fa-odnoklassniki"></i>
          </div>
          <div class="text-value">{{floorSummary}}</div>
          <div>Floors Taken</div>
          <div class="row">
            <div class="col-6 col-md-8">
              <div class="progress progress-xs mt-2">
                <progressbar class="progress progress-success" [value]="floorSummaryPercentageBar" [max]="100"
                             type="success"></progressbar>
              </div>
            </div>
            <div class="col-6 col-md-4" style="text-align: right">
              {{floorSummaryPercentage}}%
            </div>
          </div>
          <div *ngIf="floorIntraDayWidgetEnable" class="chart-wrapper mt-3 hidden-sm-down" style="height:65px;">
            <canvas baseChart class="chart"
                    [datasets]="floorIntraDayChartData"
                    [labels]="floorIntraDayChartLabels"
                    [options]="intraDayWidgetChartOptions"
                    [colors]="intraDayWidgetChartColours"
                    [legend]="intraDayWidgetChartLegend"
                    [chartType]="intraDayWidgetChartType"></canvas>
          </div>
        </div>
      </div>
    </div><!-- /floorSummary -->

    <div [class]="widgetGridOnFirstRow" *ngIf="distanceWidgetEnable">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <i class="fa fa-map-signs"></i>
          </div>
          <div class="text-value">{{distanceSummary}} {{distanceUnits}}</div>
          <div>Distances Taken</div>
          <div class="row">
            <div class="col-6 col-md-8">
              <div class="progress progress-xs mt-2">
                <progressbar class="progress progress-success" [value]="distanceSummaryPercentageBar" [max]="100"
                             type="success"></progressbar>
              </div>
            </div>
            <div class="col-6 col-md-4" style="text-align: right">
              {{distanceSummaryPercentage}}%
            </div>
          </div>
          <div *ngIf="distanceIntraDayWidgetEnable" class="chart-wrapper mt-3 hidden-sm-down" style="height:65px;">
            <canvas baseChart class="chart"
                    [datasets]="distanceIntraDayChartData"
                    [labels]="distanceIntraDayChartLabels"
                    [options]="intraDayWidgetChartOptions"
                    [colors]="intraDayWidgetChartColours"
                    [legend]="intraDayWidgetChartLegend"
                    [chartType]="intraDayWidgetChartType"></canvas>
          </div>
        </div>
      </div>
    </div><!-- /distanceSummary -->

    <div [class]="widgetGridOnFirstRow" *ngIf="weightWidgetEnable">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <i class="medicalIcons-scale-tool-to-control-body-weight-standing-on-it"></i>
          </div>
          <div class="text-value">{{weightCurrent}} {{weightCurrentUnit}}</div>
          <div>Current Weight</div>
          <div class="row">
            <div class="col-6 col-md-8">
              <div class="progress progress-xs mt-2">
                <progressbar class="progress progress-brand-s" [value]="weightPercentage" [max]="100"
                             type="brand-s"></progressbar>
              </div>
            </div>
            <div class="col-6 col-md-4" style="text-align: right">
              {{weightPercentage}}%
            </div>
          </div>
          <div *ngIf="weightIntraDayWidgetEnable" class="chart-wrapper mt-3" style="height:65px;">
            <canvas baseChart class="chart"
                    [datasets]="weightWidgetChartData"
                    [labels]="weightWidgetChartLabels"
                    [options]="intraDayWidgetChartOptions"
                    [colors]="intraDayWidgetChartColours"
                    [legend]="intraDayWidgetChartLegend"
                    [chartType]="'line'"></canvas>
          </div>
        </div>
      </div>
    </div><!-- /distanceSummary -->
  </div>

  <div class="row" *ngIf="milestonesMoreWidgetEnable||milestonesLessWidgetEnable">
    <div [class]="widgetGridMilestonesRow" *ngIf="milestonesMoreWidgetEnable">
      <div class="card text-white bg-success">
        <div class="card-header">
          Your Best Day
        </div>
        <div class="card-body">
          <ul>
            <li *ngFor="let point of theMilestonesMore" [innerHTML]="point"></li>
          </ul>
        </div>
      </div>
    </div>

    <div [class]="widgetGridMilestonesRow" *ngIf="milestonesLessWidgetEnable">
      <div class="card text-white bg-danger">
        <div class="card-header">
          Your Best Day
        </div>
        <div class="card-body">
          <ul>
            <li *ngFor="let point of theMilestonesLess" [innerHTML]="point"></li>
          </ul>
        </div>
      </div>
    </div><!--/.col-->
  </div>

  <div *ngIf="rpgChallengeEnable">
    <div class="row">
      <div class="col-12">
        <h3>Running 1:1 Challenges</h3>
      </div>
    </div><!-- /Running 1:1 Challenges -->

    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 col-xl-3">
        <div class="row">
          <div class="col-12">
            <div class="brand-card" *ngIf="rpgChallengeSummary">
              <div class="brand-card-header bg-gold">
                <i class="fa fa-trophy"></i>
              </div>
              <div class="brand-card-body">
                <div>
                  <div class="text-value">{{rpgChallengeSummary.win}}</div>
                  <div class="text-uppercase text-muted small">Wins</div>
                </div>
                <div>
                  <div class="text-value">{{rpgChallengeSummary.lose}}</div>
                  <div class="text-uppercase text-muted small">Loses</div>
                </div>
                <div>
                  <div class="text-value">{{rpgChallengeSummary.draw}}</div>
                  <div class="text-uppercase text-muted small">Draws</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="awardsWidgetEnable">
          <div class="row">
            <div class="col-12">
              <h3>Badges</h3>
            </div>
          </div><!-- /Running 1:1 Challenges -->

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  Awards
                </div>
                <div class="card-body">
                  <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <tbody>
                    <tr *ngFor="let awardsSummary of awardsSummaries" (click)="awardClicked(awardsSummary.id)">
                      <td class="text-center col-2">
                        <div class="avatar">
                          <img [alt]="awardsSummary.name" class="img-avatar"
                               [src]="awardsSummary.image">
                        </div>
                      </td>
                      <td class="col-10">
                        <div>{{ awardsSummary.name }}</div>
                        <div class="small text-muted d-none d-md-block">
                          {{ awardsSummary.longtext }}
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- /rpgChallengeTrophy -->

      <div class="col-12 col-md-8 col-lg-8 col-xl-9" *ngIf="rpgChallengeRunning.length>0">
        <div class="card card-accent-{{runningChallenge.userDetail.outcomeType}}"
             *ngFor="let runningChallenge of rpgChallengeRunning" (click)="viewChallenge(runningChallenge.id)">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> {{runningChallenge.target}}-{{runningChallenge.criteria}} in
            {{runningChallenge.duration}} Days, ends: {{runningChallenge.endDate}}
            <div class="progress progress-xs mt-2">
              <progressbar class="progress progress-{{runningChallenge.userDetail.outcomeType}}"
                           [value]="runningChallenge.progressDate" [max]="100"
                           type="{{runningChallenge.userDetail.outcomeType}}"></progressbar>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-5">
                <div class="progress">
                  <progressbar class="progress progress-{{runningChallenge.userDetail.outcomeType}}"
                               [value]="runningChallenge.userDetail.completion"
                               [max]="100"
                               type="{{runningChallenge.userDetail.outcomeType}}"></progressbar>
                </div>
                <div style="text-align: right;">
                  {{runningChallenge.userDetail.sum}} {{runningChallenge.criteria}} so far
                </div>
              </div>
              <div class="col-2 hidden-md-down" style="text-align: center; font-size: 2rem;vertical-align: middle;">
                <i class="fa fa-flag-checkered"></i>
              </div>
              <div class="col-12 col-md-6 col-lg-5">
                <div class="progress">
                  <progressbar class="progress progress-{{runningChallenge.opponentDetail.outcomeType}}"
                               style="direction: rtl;"
                               [value]="runningChallenge.opponentDetail.completion" [max]="100"
                               type="{{runningChallenge.opponentDetail.outcomeType}}"></progressbar>
                </div>
                <div>
                  {{runningChallenge.opponentDetail.sum}} {{runningChallenge.criteria}} so far
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-5 col-xl-4" style="text-align: center">
                <div class="text-value">
                  <img src="{{profileAvatar}}" class="img-avatar" alt="You" width="55px" height="55px"/>
                </div>
                <div class="text-uppercase text-muted small">You</div>
                <div class="text-uppercase text-muted small">{{runningChallenge.userDetail.lastPulled}}</div>
              </div>
              <div class="col-1 d-none d-lg-block" style="text-align: center">
                <div class="text-value">{{runningChallenge.target}}</div>
                <div class="text-uppercase text-muted small">{{runningChallenge.criteria}}</div>
              </div>
              <div class="col-2 d-none d-lg-block" style="text-align: center">
                <div class="text-value">IN</div>
              </div>
              <div class="col-2 d-xl-none" style="text-align: center">
                <div class="text-value">Vs</div>
              </div>
              <div class="col-1 d-none d-lg-block" style="text-align: center">
                <div class="text-value">{{runningChallenge.duration}}</div>
                <div class="text-uppercase text-muted small">Days</div>
              </div>
              <div class="col-5 col-xl-4" style="text-align: center">
                <div class="text-value">
                  <img src="{{runningChallenge.opponentAvatar}}" class="img-avatar" alt="{{runningChallenge.opponent}}"
                       width="55px" height="55px"/>
                </div>
                <div class="text-uppercase text-muted small">{{runningChallenge.opponent}}</div>
                <div class="text-uppercase text-muted small">{{runningChallenge.opponentDetail.lastPulled}}</div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /rpgChallengeSummary -->
    </div><!-- /rpgChallengeRunning -->
  </div>

  <div *ngIf="awardsWidgetEnable&&!rpgChallengeEnable">
    <div class="row">
      <div class="col-12">
        <h3>Badges</h3>
      </div>
    </div><!-- /Running 1:1 Challenges -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            Awards
          </div>
          <div class="card-body">
            <table class="table table-responsive-sm table-hover table-outline mb-0">
              <tbody>
              <tr *ngFor="let awardsSummary of awardsSummaries" (click)="awardClicked(awardsSummary.id)">
                <td class="text-center">
                  <div class="avatar">
                    <img [alt]="awardsSummary.name" class="img-avatar"
                         [src]="awardsSummary.image">
                  </div>
                </td>
                <td>
                  <div>{{ awardsSummary.name }}</div>
                  <div class="small text-muted d-none d-md-block">
                    {{ awardsSummary.longtext }}
                  </div>
                </td>
                <td>
                  <div>Awarded {{ awardsSummary.count }} time(s)</div>
                  <div class="small text-muted d-none d-md-block">
                    Last Awarded: {{ awardsSummary.awarded }}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
