<div *ngIf="loading!=loadingExpected">
  <div class="row">
    <div class="col-12">
      LOADING...
      <div class="progress progress-xs mt-2">
        <progressbar class="progress progress-brand-p" [value]="loading" [max]="loadingExpected"
                     type="brand-p"></progressbar>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="loading>=loadingExpected">
  <a class="btn" (click)="pullToRefresh()"><i class="fa fa-balance-scale"></i> &nbsp;Refresh</a>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Awards
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <tbody>
            <tr *ngFor="let awardsSummary of awardsSummaries">
              <td class="text-center col-2">
                <div class="avatar">
                  <img [alt]="awardsSummary.name" class="img-avatar"
                       [src]="'assets/badges/' + awardsSummary.image + '.png'">
                </div>
              </td>
              <td class="col-6">
                <div>{{ awardsSummary.name }}</div>
                <div class="small text-muted d-none d-md-block">
                  {{ awardsSummary.longtext }}
                </div>
              </td>
              <td class="col-4">
                <div>Last Won: {{ awardsSummary.awarded }}</div>
                <div class="small text-muted d-none d-md-block">
                  Awarded {{ awardsSummary.count }} time(s)
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Level {{level}}, with {{xp}} (Difficulty factor is {{factor}})
        </div>
        <div class="card-body">
          <ul>
          <li *ngFor="let logXp of xpLog">
            {{logXp.datetime}} - {{logXp.log}} - {{logXp.value}}
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
