.weeklyAwardReport ul {
  list-style-type: none;
}

.weeklyAwardReport ul li {
  display: block;
  float: left;
  width: 14%;
  text-align: center;
}
.weeklyAwardReport ul li i {
  font-size: 200%;
}
