.bg-gold {
  background-color: gold !important;
}

.alert-md-refresh {
  background-color: #2f353a;
  border-color: #1b2025;
  color: #fff;
}

div.muscle-background {
  width: 180px;
  height: 276px;
  background-size: 150px;
  background-repeat: no-repeat;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
