body {
  background-color: #fff;
}
.card-header,
.card-footer {
  color: #eee;
  background-color: $navbar;
}
ol.breadcrumb {
  background-color: $sidebar !important;
  color: #000 !important;
}
.breadcrumb-item a {
  color: $brand_p !important;
}
.breadcrumb-item a:hover {
  color: $brand_s !important;
}
.breadcrumb-item.active {
  color: #000 !important;
}
.app-header {
  background-color: $navbar !important;
}
.sidebar,
.sidebar .sidebar-minimizer {
  color: #000 !important;
  background-color: $sidebar !important;
}
.sidebar .nav-link,
.sidebar .nav-dropdown.open .nav-link {
  color: #000 !important;
  border-left: 3px solid transparent !important;
  background-color: $sidebar !important;
}
.sidebar .nav-link.active,
.sidebar .nav-dropdown.open .nav-link.active,
.sidebar .nav-link:hover,
.sidebar .nav-dropdown.open .nav-link:hover {
  color: #000 !important;
  border-left: 3px solid $brand_p !important;
  background-color: $sidebar !important;
}
.sidebar .nav-link:hover .nav-icon,
.sidebar .nav-dropdown.open .nav-link:hover .nav-icon {
  color: $brand_p !important;
}
.sidebar .nav-link.active .nav-icon,
.sidebar .nav-dropdown.open .nav-link.active .nav-icon {
  color: $brand_p !important;
}
.bg-brand-primary {
  background-color: $brand_p !important;
}
.btn-brand-primary {
  color: #fff;
  background-color: $brand_p;
  border-color: $brand_p;
}
.btn-brand-primary:hover {
  color: #fff;
  background-color: $brand_p_s4;
  border-color: $brand_p_s4;
}
.bg-brand-secondary {
  background-color: $brand_s !important;
}
.btn-brand-secondary {
  color: #fff;
  background-color: $brand_s;
  border-color: $brand_s;
}
.btn-brand-secondary:hover {
  color: #fff;
  background-color: $brand_p_t1;
  border-color: $brand_p_t1;
}
