@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.bg-gold {
  background-color: gold !important;
}

.table tr.active td {
  background-color:$brand_p_t6 !important;
  color: white;
}

div.friends-you {
  background-color:$gray-200 !important;
  margin: 10px -15px 0 -15px;
  border-bottom: $gray-600 1px solid !important;
  padding-bottom: 5px;
  padding-top: 5px;
}

div.friends-friend {
  background-color:white !important;
  margin: 10px -15px 0 -15px;
  border-bottom: $gray-200 1px solid !important;
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav-title {
  color: black !important;
}

.sidebar .nav-link.nav-link-success {
  background: #4dbd74 !important;
}
