// Variable overrides
$brand_p:      #db3b3b !default;
$brand_p_s1:   #c53535 !default;
$brand_p_s2:   #af2f2f !default;
$brand_p_s3:   #992929 !default;
$brand_p_s4:   #832323 !default;
$brand_p_s5:   #6d1d1d !default;
$brand_p_s6:   #571717 !default;
$brand_p_s7:   #411111 !default;
$brand_p_s8:   #2b0b0b !default;
$brand_p_s9:   #150505 !default;

$brand_p_t1:   #de4e4e !default;
$brand_p_t2:   #e26262 !default;
$brand_p_t3:   #e57575 !default;
$brand_p_t4:   #e98989 !default;
$brand_p_t5:   #ed9d9d !default;
$brand_p_t6:   #f0b0b0 !default;
$brand_p_t7:   #f4c4c4 !default;
$brand_p_t8:   #f7d7d7 !default;
$brand_p_t9:   #fbebeb !default;

$brand_s: #3bdbdb !default;

//$navbar: #23282d !default;
//$sidebar: #eeeeee !default;

