<div *ngIf="loading!=loadingExpected">
  <div class="row">
    <div class="col-12">
      LOADING...
      <div class="progress progress-xs mt-2">
        <progressbar [max]="loadingExpected" [value]="loading" class="progress progress-success"
                     type="success"></progressbar>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div id="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="loading"></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading>=loadingExpected" class="animated fadeIn">
  <alert type="md-refresh">
    <div class="row">
      <div class="col-md-6">
        <h3>{{_matomoService.pageTitle}}</h3> <small>From {{loggedActivity.started}}
        to {{loggedActivity.finished}}</small>
      </div>
      <div class="col-md-6 text-right">
        <button (click)="activityClicked(activityLogsNav.nextMonth)" *ngIf="activityLogsNav.nextMonth!=''"
                class="btn btn-brand btn-sm btn-info mr-1"
                style="margin-bottom: 4px"
                type="button">
          <i class="fa fa-angle-double-left"></i>
          <span>{{activityLogsNav.nextMonth}}</span>
        </button>

        <button (click)="pullToRefresh()" class="btn btn-brand btn-sm btn-warning mr-1" style="margin-bottom: 4px"
                type="button">
          <i class="fa fa-repeat"></i>
          <span>Refresh</span>
        </button>

        <button (click)="activityClicked(activityLogsNav.prevMonth)" *ngIf="activityLogsNav.prevMonth!=''"
                class="btn btn-brand btn-sm btn-info mr-1"
                style="margin-bottom: 4px"
                type="button">
          <i class="fa fa-angle-double-right"></i>
          <span>{{activityLogsNav.prevMonth}}</span>
        </button>
      </div>
    </div>
  </alert>

  <div class="row">
    <div class="col-12 col-lg-7">

      <div class="card">
        <div class="card-header">
          Impact
          <div class="card-header-actions">
            <span *ngIf="loggedActivity.distance>0">{{loggedActivity.distance}} km |</span>
            <span *ngIf="loggedActivity.duration>0">{{loggedActivity.duration}} mins |</span>
            <span *ngIf="loggedActivity.heartRateMean>0">{{loggedActivity.heartRateMean}} bpm |</span>
            <span *ngIf="loggedActivity.calorie>0">{{loggedActivity.calorie}} cals</span>
          </div>
        </div>
        <div class="card-body">

          <div class="row">

            <div *ngIf="loggedActivity.steps>0" [class]="gridImpactRow">
              <div class="card">
                <div class="card-body p-0 clearfix">
                  <i class="fa fa-paw bg-success p-4 font-2xl mr-3 float-left"></i>
                  <div class="h5 text-success mb-0 pt-3">+{{loggedActivity.steps}}</div>
                  <div class="text-muted text-uppercase font-weight-bold font-xs">of {{loggedActivity.stepsTotal}} steps
                    taken
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="loggedActivity.calorie>0" [class]="gridImpactRow">
              <div class="card">
                <div class="card-body p-0 clearfix">
                  <i class="fa fa-fire bg-warning p-4 font-2xl mr-3 float-left"></i>
                  <div class="h5 text-warning mb-0 pt-3">+{{loggedActivity.calorie}}</div>
                  <div class="text-muted text-uppercase font-weight-bold font-xs">of {{loggedActivity.calorieTotal}}
                    calories burnt
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="loggedActivity.duration>0" [class]="gridImpactRow">
              <div class="card">
                <div class="card-body p-0 clearfix">
                  <i class="fa fa-clock-o bg-info p-4 font-2xl mr-3 float-left"></i>
                  <div class="h5 text-info mb-0 pt-3">+{{loggedActivity.duration}}</div>
                  <div class="text-muted text-uppercase font-weight-bold font-xs">of {{loggedActivity.durationTotal}}
                    minutes active
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div> <!-- Impact Card -->

      <div class="row">
        <div *ngIf="loggedActivity.speedMean>0" [class]="gridStatRow">
          <div class="brand-card">
            <div class="brand-card-header bg-success text-white">
              <i class="fitnessIcons-man"></i>&nbsp;&nbsp;&nbsp;&nbsp;kph
            </div>
            <div class="brand-card-body">
              <div>
                <div class="text-value">{{loggedActivity.speedMean}}</div>
                <div class="text-uppercase text-muted small">Mean</div>
              </div>
              <div>
                <div class="text-value">{{loggedActivity.speedMax}}</div>
                <div class="text-uppercase text-muted small">Max</div>
              </div>
            </div>
          </div>
        </div> <!-- Speed Card -->

        <div *ngIf="loggedActivity.heartRateMean>0" [class]="gridStatRow">
          <div class="brand-card">
            <div class="brand-card-header bg-red text-white">
              <i class="fitnessIcons-medical"></i>&nbsp;&nbsp;&nbsp;&nbsp;BPM
            </div>
            <div class="brand-card-body">
              <div>
                <div class="text-value">{{loggedActivity.heartRateMin}}</div>
                <div class="text-uppercase text-muted small">Min</div>
              </div>
              <div>
                <div class="text-value">{{loggedActivity.heartRateMean}}</div>
                <div class="text-uppercase text-muted small">Mean</div>
              </div>
              <div>
                <div class="text-value">{{loggedActivity.heartRateMax}}</div>
                <div class="text-uppercase text-muted small">Max</div>
              </div>
            </div>
          </div>
        </div> <!-- Heart Card -->

        <div *ngIf="loggedActivity.altitudeMin>0" [class]="gridStatRow">
          <div class="brand-card">
            <div class="brand-card-header bg-primary text-white">
              <i class="adventureIcons-sports-10"></i>&nbsp;&nbsp;&nbsp;&nbsp;Meters
            </div>
            <div class="brand-card-body">
              <div>
                <div class="text-value">{{loggedActivity.altitudeMax}}</div>
                <div class="text-uppercase text-muted small">Max</div>
              </div>
              <div>
                <div class="text-value">{{loggedActivity.altitudeGain}}</div>
                <div class="text-uppercase text-muted small">Gain</div>
              </div>
              <div>
                <div class="text-value">{{loggedActivity.altitudeMin}}</div>
                <div class="text-uppercase text-muted small">Min</div>
              </div>
            </div>
          </div>
        </div> <!-- Altitude Card -->
      </div> <!-- Stats Card -->

      <div class="row">
        <div class="col-12">
          <div class="brand-card">
            <div class="brand-card-header bg-purple text-white">
              <i class="personal-love-note"></i>
            </div>
            <div class="brand-card-body">
              <div>
                <div class="text-value">{{loggedActivity.tracker}}</div>
                <div class="text-uppercase text-muted small">Tracker</div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- Tracker Card -->

      <div *ngIf="displayMap" class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div (leafletMapReady)="onMapReady($event)" [leafletLayer]="layersControl"
                   [leafletOptions]="mapOptions"
                   class="map"
                   leaflet></div>
            </div>
          </div>
        </div>
      </div> <!-- Tracker Card -->

    </div>

    <div class="col-12 col-lg-5">

      <div class="row">
        <div class="col-md-12">
          <div class="card bg-info">
            <div class="card-body">
              <i class="fa fa-life-ring float-right"></i>
              Bellow is a break down of how many minutes you've spent exercising, broken down by time of day.
              Bellow that, is a comparision graph across all recorded activities.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div *ngIf="speedChartData1.length>0" class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h4 class="card-title mb-0">Speed</h4>
                  <div class="small text-muted">{{speedChartOptions.scales.yAxes[0].ticks.max}} MAX</div>
                </div><!--/.col-->
                <div class="col-sm-7 d-none d-md-block">

                </div><!--/.col-->
              </div><!--/.row-->
              <div class="chart-wrapper" style="height:200px;margin-top:10px;">
                <canvas [chartType]="speedChartType" [colors]="speedChartColours"
                        [datasets]="speedChartData"
                        [labels]="speedChartLabels"
                        [legend]="speedChartLegend"
                        [options]="speedChartOptions"
                        baseChart
                        class="chart"></canvas>
              </div>
            </div>
          </div>

          <div *ngIf="heartChartData1.length>0" class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h4 class="card-title mb-0">Heart Rate</h4>
                  <div class="small text-muted">{{heartChartOptions.scales.yAxes[0].ticks.max}} MAX</div>
                </div><!--/.col-->
                <div class="col-sm-7 d-none d-md-block">

                </div><!--/.col-->
              </div><!--/.row-->
              <div class="chart-wrapper" style="height:200px;margin-top:10px;">
                <canvas [chartType]="heartChartType" [colors]="heartChartColours"
                        [datasets]="heartChartData"
                        [labels]="heartChartLabels"
                        [legend]="heartChartLegend"
                        [options]="heartChartOptions"
                        baseChart
                        class="chart"></canvas>
              </div>
            </div>
          </div>

          <div *ngIf="altitudeChartData1.length>0" class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h4 class="card-title mb-0">Altitude</h4>
                  <div class="small text-muted">{{altitudeChartOptions.scales.yAxes[0].ticks.max}} MAX</div>
                </div><!--/.col-->
                <div class="col-sm-7 d-none d-md-block">

                </div><!--/.col-->
              </div><!--/.row-->
              <div class="chart-wrapper" style="height:200px;margin-top:10px;">
                <canvas [chartType]="altitudeChartType" [colors]="altitudeChartColours"
                        [datasets]="altitudeChartData"
                        [labels]="altitudeChartLabels"
                        [legend]="altitudeChartLegend"
                        [options]="altitudeChartOptions"
                        baseChart
                        class="chart"></canvas>
              </div>
            </div>
          </div>

          <div *ngIf="distanceChartData1.length>0" class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h4 class="card-title mb-0">Distance</h4>
                  <div class="small text-muted">{{distanceChartOptions.scales.yAxes[0].ticks.max}} MAX</div>
                </div><!--/.col-->
                <div class="col-sm-7 d-none d-md-block">

                </div><!--/.col-->
              </div><!--/.row-->
              <div class="chart-wrapper" style="height:200px;margin-top:10px;">
                <canvas [chartType]="distanceChartType" [colors]="distanceChartColours"
                        [datasets]="distanceChartData"
                        [labels]="distanceChartLabels"
                        [legend]="distanceChartLegend"
                        [options]="distanceChartOptions"
                        baseChart
                        class="chart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!--
      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">

        </div>
      </div>
-->
