<div class="animated fadeIn">
  <alert type="md-refresh">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6 text-right">

      </div>
    </div>
  </alert>

  <div class="row">
    <div class="col-12 col-lg-5">

      <div class="row">
        <div class="col-md-12">
          <div class="card bg-info">
            <div class="card-body">
              <i class="fa fa-life-ring float-right"></i>
              Bellow is a break down of how many minutes you've spent exercising, broken down by time of day.
              Bellow that, is a comparision graph across all recorded activities.
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
